:root {
  --primary: #9BBD2D;
  --secondary: #F49918;
  --light: #F0F8FF; /* AliceBlue, a very light, clean color */
  --dark: #1A2A3A; /* A deep, modern blue-gray */
  --background: #ffffff;
  --foreground: #171717;

  /* Corporate Colors */
  --verde: #9BBD2D;
  --naranja: #F49918;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A2A3A; /* Use dark color for background */
    --foreground: #F0F8FF; /* Use light color for text */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kodchasan), sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--secondary);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.py-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.text-primary {
  color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: #8ab021; /* A slightly darker shade of green for hover */
  border-color: #8ab021;
}

/*** Service ***/
.service-item {
  position: relative;
  background: var(--light);
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.service-item:hover {
  background: var(--primary);
}

.service-item .service-icon {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 50%;
  transition: .5s;
}

.service-item:hover .service-icon {
  background: var(--light);
}

.service-item:hover .service-icon svg {
  color: var(--primary);
}

.service-item h4,
.service-item p {
  transition: .5s;
}

.service-item:hover h4,
.service-item:hover p {
  color: var(--light);
}

.service-item a.btn {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary);
  background: #FFFFFF;
  border-radius: 40px 40px 0 0;
  transition: .5s;
  opacity: 0;
}

.service-item:hover a.btn {
  bottom: 0;
  opacity: 1;
}
